<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <script src="../js/jquery-1.12.4.min.js" type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">

        function ajaxSubmit() {
            const songName = $("#userName").val();
            const singer = $("#passWord").val();
            const xmlHttp=new XMLHttpRequest();

            xmlHttp.open("POET","localHost:8080//admin/user",true);
            xmlHttp.setRequestHeader("Content-type","application/json");


        }


    </script>
</head>
<body>
<input type="text" name="userName" id="userName">
<input type="text" name="passWord" id="passWord">
<button onclick="ajaxSubmit()">提交</button>

</body>
</html>
